@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}