@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
  font-family: "Inter", sans-serif;
  width: 330px;
  height: 488px;
  display: flex;
  flex-direction: column;
  background-color: #CCCCCC;
  align-items: center;
}

.button{
  width: 170px;
  height: 51px;
  background-color: #FF0000;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
}

.valor{
  font-size: 32px;
  margin-bottom: -15px;
}
